/* @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap'); */

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin-top: 1rem;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #313c3d;
  background-image: linear-gradient(#395b64 0%, #a5c9ca 100%);

  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* LAYOUT */
main {
  position: relative;
  margin-bottom: 2rem;
  width: 100rem;
  height: 60rem;
  background-color: rgba(231, 246, 242, 0.2);
  backdrop-filter: blur(200px);

  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  overflow: hidden;
  display: flex;
}

.rules {
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player {
  flex: 50%;
  padding: 9rem 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
}

/* ELEMENTS */
.score-name {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-bottom: 10.5rem;
}

.name {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 1rem;
}

.score {
  font-size: 10rem;
  font-weight: 300;
  color: #313c3d;
  margin-bottom: auto;
}

.player--active {
  background-color: #a5c9ca;
  background-color: rgba(255, 255, 255, 0.6);
}
.player--active .name {
  font-weight: 700;
}
.player--active .score {
  font-weight: 400;
}

.player--active .current {
  opacity: 1;
}

.current {
  background-color: #e2dcc8;
  opacity: 0.8;
  border-radius: 9px;
  color: #313c3d;
  width: 65%;
  padding: 2rem;
  text-align: center;
  transition: all 0.75s;
}

.current-label {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  color: #313c3d;
}

.current-score {
  font-size: 3.5rem;
}

/* ABSOLUTE POSITIONED ELEMENTS */
.btn {
  color: #313c3d;
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-size: 2.4rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;

  padding: 0.7rem 2.5rem;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  transition: all 0.2s;
}

main .btn {
  position: absolute;
  left: 50%;

  backdrop-filter: blur(10px);
}

.btn::first-letter {
  font-size: 2.4rem;
  display: inline-block;
  margin-right: 0.7rem;
}

.btn--new {
  top: 4rem;
  transform: translateX(-50%);
}
.btn--roll {
  top: 41rem;
  transform: translateX(-50%);
}
.btn--hold {
  top: 46.3rem;
  transform: translateX(-50%);
}

.btn--rules {
  color: #edf4f4;
  letter-spacing: 1rem;
}

.btn--rules:hover,
.btn--rules:active {
  text-decoration: underline;
}

main .btn:active {
  transform: translate(-50%, 3px);
}

main .btn:hover {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
}

.icon {
  width: 24px;
  height: 24px;
}

.dice {
  position: absolute;
  left: 50%;
  top: 16.5rem;
  transform: translateX(-50%);
  height: 15rem;
  border-radius: 9px;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}

.player--winner {
  background-color: #395b64;
}

.player--winner .name {
  font-weight: 700;
  color: #e7f6f2;
}

.hidden {
  display: none;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #313c3d;
  cursor: pointer;
  border: none;
  background: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;

  background-color: #e7f6f2;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.modal-header {
  color: #313c3d;
  font-size: 2rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.modal-text {
  margin-top: 1rem;
  color: #425051;
  font-size: 1.8rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
